.product-detail-img{
    width: 15%;
    
}

.price{
    margin:15px 0 5;
    font-size: 1.2rem;
    font-weight:800;
    color:#0da8e4
}

.detail-section{
    margin-left:30px;
    margin-bottom: 50px;
}


